body {
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

p {
  background-color: #00ccff;
  border-radius: 5px;
}

a:hover {
  color: #00ccff;
}
